@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --blue-swbt: #0288D1;
  --input-color: #52525B;
  --table-header-color: #aaff0199;
  --table-content-color-1: #ECEBEA;
  --table-content-color-2: #FEFDFD;
}

body {
  background-image: linear-gradient(180deg, #CFD9DF 0%, #E2EBF0 100%) !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center !important;
  font-family: 'Inter' !important;
}

.blue-swbt {
  background: var(--blue-swbt);
}

.dropshadow-box-full { 
  -webkit-box-shadow: 0px 1px 3px 0px rgba(29,29,29,.50);
  -moz-box-shadow: 0px 1px 3px 0px rgba(29,29,29,.50);
  box-shadow: 0px 1px 3px 0px rgba(29,29,29,.50);
}

.dropshadow-box-35 { 
  -webkit-box-shadow: 0px 2px 5px 0px rgba(29,29,29,0.35);
  -moz-box-shadow: 0px 2px 5px 0px rgba(29,29,29,0.35);
  box-shadow: 0px 2px 5px 0px rgba(29,29,29,0.35);
}

.dropshadow-box-25 { 
  -webkit-box-shadow: 0px 2px 1px 0px rgba(29,29,29,0.25);
  -moz-box-shadow: 0px 2px 1px 0px rgba(29,29,29,0.25);
  box-shadow: 0px 2px 1px 0px rgba(29,29,29,0.25);
}

.dropshadow-text { 
  -webkit-text-shadow: 0px 0px 5px rgba(29,29,29,0.25);
  -moz-text-shadow: 0px 0px 5px rgba(29,29,29,0.25);
  text-shadow: 0px 0px 5px rgba(29,29,29,0.25);
}

.input-width {
  width: 35rem !important;
}

.active { 
  background-color: #01679ed0 !important;
  color: white !important;
}

/* -------------------------------------------------------------------------- */
/*                                    Table                                   */
/* -------------------------------------------------------------------------- */

.table-header-color {
  background-color: var(--table-header-color);
}

.react-table .rt-tbody .rt-tr .rt-td:nth-child(4) {
	width: 150px; /* Set the desired width for the buttons column */
}

/* -------------------------------------------------------------------------- */
/*                                    Login                                   */
/* -------------------------------------------------------------------------- */

.login-container {
  background-image: url('./Assets/splash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}